/** @format */

.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.projects_item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.projects_item:hover {
  border-color: transparent;
  background: var(--color-bg-hover);
}

.projects_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.projects_item h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.858);
  font-size: medium;
  text-shadow: 1px 1px black;
}
#projects h2 {
  margin-top: 2rem;
}

.projects_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .projects_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  #projects h2 {
    margin-top: 0px;
    padding-bottom: 2rem;
  }
  .projects_item {
    /* width: 300px; */
    margin-top: 0px;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .projects_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
