/** @format */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 3rem;
}

.skills-container .skills-grid {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  color: var(--color-white);
}

.skills-container .skills-grid:hover {
  background: var(--color-bg-hover);
  color: var(--color-bg);
  border-color: transparent;
  cursor: default;
}

.skills-container .skills-grid:hover .skills-details-icon {
  color: var(--color-bg);
  transition: var(--transition);
}
.skills-container h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.skills-details {
  display: flex;
  gap: 1rem;
}

.skills-details-icon {
  margin-top: 6px;
  color: var(--color-white);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
  #skills h2 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .skills-container .skills-grid {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skills-content {
    padding: 1rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .skills-container {
    gap: 1rem;
  }

  .skills-container .skills-grid {
    width: 100%;
    padding: 2rem 1rem;
  }
}
