/** @format */

.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about-me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about-me-image {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about-me-image:hover {
  transform: rotate(0);
}

.about-content p {
  margin: 0rem 0 2.6rem;
  text-shadow: 1px 0px #73a80a;
}
.links {
  display: flex;
  gap: 10px;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  #about h2 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .about-me {
    width: 50%;
    margin: 1rem auto 2rem;
    aspect-ratio: 0;
  }

  .about-content p {
    margin: 1rem 0 1.5rem;
  }

  a.btn.btn-primary.btn-primary-left {
    background-color: var(--color-primary);
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .about-me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  /* .about-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  } */

  .about-content {
    text-align: center;
  }

  .about-content p {
    margin: 1.5rem 0;
  }
}
