/** @format */

.container.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact-option:hover {
  background: var(--color-bg-hover);
  border-color: transparent;
}

.contact-option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* .contact-option h4 {
  text-shadow: 1px 1px black;
} */
.contact-option h5 {
  color: var(--color-bg);
  text-shadow: 1px 1px black;
}
.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ================= FORM ================== */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
form {
  padding-top: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--color-bg-variant);
  resize: none;
  color: var(--color-white);
  transition: var(--transition);
  font-family: "Noto Sans", sans-serif;
  font-size: smaller;
}
::placeholder {
  color: var(--color-white);
  font-family: "Noto Sans", sans-serif;
  font-size: smaller;
}
input:hover {
  background: var(--color-bg-hover);
}
textarea:hover {
  background: var(--color-bg-hover);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .container.contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  a.btn.btn-primary.btn-primary-left {
    background-color: var(--color-primary);
  }
  #contact h2 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .container.contact-container {
    width: var(--container-width-sm);
  }
}
